<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Regression">
  <test thread-count="5" name="Functional">
    <classes>
      <class name="KTCTC.JuneMavenProjectAutomation.AnnotaionsInTestNG2"/>
      <class name="KTCTC.JuneMavenProjectAutomation.AnnotaionsInTestNG3"/>
    
    </classes>
  </test> <!-- Test -->
  
   <test thread-count="5" name="NonFunction">
    <classes>      
      <class name="KTCTC.JuneMavenProjectAutomation.AnnotaionsInTestNG"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
